<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and  Ecosystem are summarized.

##### Some of the popular languages that Data Scientists use are:

    1.Python
    2.SQL
    3.R

# Objectives:
* Some of the popular languages used in Data Science
* Some of the commonly used libraries used by Data Scientists
* few examples of evaluating arithmetic expressions in Python

##### Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. Numpy
3. Matplotlib
4. Scipy

##### Some of the commonly used libraries used by Data Scientists include:
  
| Data Science Tools |
| -------------------|
| Jupyter Notebook   |
| Rstudio            |
| MySQL              |

### Below are a few examples of evaluating arithmetic expressions in Python:

In [12]:
# This a simple arithmetic expression to mutiply then add integers
print((3*4)+5)

17

In [14]:
# This will convert 200 minutes to hours by diving by 60.
hours = 200/60
print(f" 200 minutes in Hours is {hours}")

 200 minutes in Hours is 3.3333333333333335

## Author:
Yashwardhan Anil Shinde